spring:
  datasource:
    url: jdbc:postgresql://db:5432/shorturl
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        id:
          new_generator_mappings: true
    open-in-view: false

  sql:
    init:
      mode: never

  data:
    redis:
      host: cache
      port: 6379

  cache:
    type: redis
    redis:
      time-to-live: 3600000

management:
  endpoints:
    web:
      exposure:
        include: health  # /actuator/health/readiness를 exposure
  endpoint:
    health:
      probes:
        enabled: true # 이 설정은 /actuator/health/readiness api를 활성화함.
        #/actuator/health/readiness는 앱이 메모리에 올라갔고, DB 연결도 됐을 떄, 즉 "요청을 받으면 응답은 할 수 있는 상태다" 라는 걸 docker가 확인 가능하게 함