spring:
  datasource:
    url: jdbc:postgresql://db:5432/shorturl
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        id:
          new_generator_mappings: true
    open-in-view: false

  sql:
    init:
      mode: never

  data:
    redis:
      host: cache
      port: 6379

  cache:
    type: redis
    redis:
      time-to-live: 3600000