spring:
  datasource:
    url: jdbc:postgresql://db:5432/shorturl
    username: SPRING_DATASOURCE_USERNAME
    password: SPRING_DATASOURCE_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        id:
          new_generator_mappings: true
    open-in-view: false

  sql:
    init:
      mode: never

  data:
    redis:
      host: cache
      port: 6379

  cache:
    type: redis
    redis:
      time-to-live: 3600000

  jwt:
    secret: SPRING_JWT_SECRET
    expiration-time: 3600000

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace
    org.springframework.web.cors: DEBUG
    org.springframework.web.filter.CorsFilter: DEBUG
